.icon-left{
    position: absolute;
    top: .1em;
    left: .1em;

}

.icon-right{
    position: absolute;
    bottom: .1em;
    right: 0.1em;
}

.season-display.winter i{
    color: blue;
}

.season-display.summer i{
    color: red;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display h1{
    font-size: 3rem;
}

.winter {
    background-color: lightblue;
}

.summer {
    background-color: orange;
}